@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

$red-union: rgba(218, 37, 29, 1);
$dark-red-union: rgba(201,0,0,1);
$bordo-union: #aa0000;
$blue-union: #02437c;
$grey-union: rgb(145, 145, 145);
$white-union: #ffff;

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Oswald', sans-serif;
    background-color: $bordo-union;
    color: $white-union;
}

a{
    color: white;
    text-decoration: none;
}

header{
    display: flex;
    height: 100px;
    width: 100%;
    h2{
        margin-top: 2%;
        font-size: 2.6em;
        font-weight: bold;
        opacity: 95%;
    }
    nav{
        display: flex;
        // width: 100%;
        z-index: 9999;
        justify-content: space-between;
        @media(max-width:1024px){
            display: none;
        }
        ul{
            display: flex;
            flex-direction: row;
            margin-top: -2%;
            li{
                padding: 46px;
                list-style: none;
                font-size: 2em;
                &:hover{
                    color: $grey-union;
                    transition: 1s all;
                }
                .cart{
                    #totalItems{
                        font-size: 0.5em;
                        display: flex;
                        margin-top: -65%;
                        margin-left: -10%;
                    }
                }
            }
        }
    }
}

// Color variables

$color-secondary-grey: #BDC3C7;

$color-primary-blue: #8DA7BE;
$color-secondary-bluelight: #80CED7;
$color-primary-dark: #36393B;

$color-white: #fff;
$color-black: #000;

// Navigation Parts

.navigation {
    display: none;
    @media(max-width:1024px){
        display: block;
        margin-top: 3%;
    }
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-secondary-grey;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    left: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($color-black, .1);
    text-align: center;
    cursor: pointer;
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    left: 6.5rem;
    background-image: radial-gradient($color-primary-blue, $color-secondary-bluelight);
    z-index: 1000;
    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
  }


  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;

    opacity: 0;
    width: 0;
    transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

    &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
      background-size: 220%;
      transition: all .4s;

      }

      &:hover,
      &:active {
        background-position: 100%;
        color: $color-primary-blue;
        transform: translateX(1rem);
      }
  }

  // Functionnality
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  &__icon {
    position: relative;
    margin-top: 3.5rem;

    &,
    &::before,
    &::after {
        width: 3rem;
        height: 3px;
        background-color: $color-primary-dark;
        display: inline-block;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all .2s;
    }

    &::before { top: -.8rem; }
    &::after { top: .8rem; }
  }

  &__button:hover &__icon::before {
      top: -1rem;
    }

  &__button:hover &__icon::after {
      top: 1rem;
    }

  &__checkbox:checked + &__button &__icon {
      background-color: transparent;
    }

  &__checkbox:checked + &__button &__icon::before {
      top: 0;
      transform: rotate(135deg);
    }

  &__checkbox:checked + &__button &__icon::after {
      top: 0;
      transform: rotate(-135deg);
  }
}

.social{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.5em;
    margin-top: 0.5%;
    margin-right: 3%;
    @media(max-width:768px){
        display: none;
    }
    a{
        color: $white-union;
        padding-right: 30%;
        &:hover{
            color: $grey-union;
        }
        i.fa-instagram{
            margin-left: 10%;
        }
    }
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
    .principal{
        display: flex;
        justify-content: center;
        flex-direction: column;
        h2{
            font-size: 3.8em;
            display: flex;
            justify-content: center;
            font-weight: bold;
            margin-top: 2%;
        }
        img.backgroundCover{
            height: 570px;
            margin-top: -7%;
            border-bottom: 3.5px solid white;
            border-radius: 3px;
        }
        section.products{
            img.kitImg{
                height: 300px;
                width: 325px;
            }
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 2%;
            .product{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                margin: 2%;
                border: $white-union solid 1.8px;
                border-radius: 8px;
            }
            h3{
                font-size: 2em;
            }
            article{
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
            }
            button.add{
                height: 30px;
                width: 125px;
                margin: 2%;
                background: none;
                border: $white-union 1px solid;
                border-radius: 4px;
                color: $white-union;
                &:hover{
                    background-color: $white-union;
                    color: $red-union;
                }
            }
            .price{
                font-size: 1.5em;
            }
        }
        section.cartList{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 500px;
            h2{
                margin-top: -23%;
            }
            .cartWrapper{
                .text{
                    display: none;
                }
            }
            .emptyProductsMessage{
                font-size: 1.5em;
            }
            .total-items{
                font-size: 1.5em;
            }
            .cart-item{
                border-bottom: 1px solid $white-union;
            }
        }  
    }
}

footer{
    border-top: 10px whitesmoke double;
    display: flex;
    height: 285px;
    margin-top: -15%;
    @media(max-width:800px){
        margin-top: 60%;
    }
    @media(max-width:520px){
        margin-top: 80%;
    }
    @media(max-width:420px){
        margin-top: 90%;
    }
    .footerLogo{
        height: 250px;
        margin-top: 8px;
        margin-left: 1%;
        width: 225px;
        @media(max-width:768px){
            height: 125px;
        }
    }
    .footerContainer{
        margin-top: 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        form{
            display: flex;
            flex-direction: column;
            margin-left: 2%;
            width: 15%;
            h4{
                font-size: 2em;
                font-weight: 700;
            }
            label{
                font-size: 1.3em;
                font-weight: 400;
            }
            input[type=text]{
                display: flex;
                width: 107%;
                height: 25px;
                border: none;
                border-radius: 3px;
                font-size: 0.8em;
                @media(max-width:620px){
                    width: 200px;
                }
            }
            input[type=email]{
                display: flex;
                width: 107%;
                height: 25px;
                border: none;
                border-radius: 3px;
                font-size: 0.8em;
                @media(max-width:620px){
                    width: 200px;
                }
            }
            textarea{
                display: flex;
                border-radius: 3px;
                border: none;
            }
            label.message{
                margin-left: 110%;
                margin-top: -110%;
                @media(max-width:1024px){
                    margin-top: -175%;
                }
                @media(max-width:768px){
                    margin-top: -230%;
                }
                @media(max-width:520px){
                    margin-top: 10%;
                    margin-left: -10%;
                }
            }
            button{
                margin-top: 12%;
                background: none;
                width: 405px;
                padding: 2% 6%;
                color: $white-union;
                cursor: pointer;
                border-radius: 8px;
                border: $white-union 1px solid;
                font-weight: 700;
                &:hover{
                    background-color: $white-union;
                    color: $red-union;
                }
                @media(max-width:650px){
                    width: 200px;
                }
            }
        }
        .suscribeSocial{
            font-size: 3em;
            margin-top: 2%;
            margin-right: 15%;
            @media(max-width:1024px){
                margin-left: 12%;
                display: none;
            }
            @media(max-width:768px){
                display: none;
            }
            h4.redes{
                font-size: 0.9em;
                margin-left: -5%;
            }
            h3{
                margin-left: -15%;
            }
        }
    }
}
