@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Oswald', sans-serif;
  background-color: #aa0000;
  color: #ffff;
}

a {
  color: white;
  text-decoration: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  width: 100%;
}

@media (max-width: 1024px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

header h2 {
  margin-top: 2%;
  font-size: 2.6em;
  font-weight: bold;
  opacity: 95%;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 9999;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  header nav {
    display: none;
  }
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: -2%;
}

header nav ul li {
  padding: 46px;
  list-style: none;
  font-size: 2em;
}

header nav ul li:hover {
  color: #919191;
  -webkit-transition: 1s all;
  transition: 1s all;
}

header nav ul li .cart #totalItems {
  font-size: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -65%;
  margin-left: -8%;
}

.mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 16px;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 9999999;
  display: none;
}

@media (max-width: 1024px) {
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 4%;
  }
}

.mobile-menu__btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: 30px;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 99999;
}

.mobile-menu__icon {
  display: block;
  position: relative;
  background: white;
  width: 90%;
  height: 4px;
  -webkit-transition: .4s;
  transition: .4s;
}

.mobile-menu__icon::after, .mobile-menu__icon::before {
  content: "";
  display: block;
  position: absolute;
  background: white;
  width: 100%;
  height: 4px;
  -webkit-transition: .4s;
  transition: .4s;
}

.mobile-menu__icon::after {
  top: 8px;
}

.mobile-menu__icon::before {
  top: -8px;
}

.mobile-menu__container {
  position: fixed;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0px;
  left: 0;
  right: 0px;
  z-index: 999;
  height: 0;
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  overflow: hidden;
  background-color: #aa0000;
}

.mobile-menu__list {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
  list-style: none;
  padding-left: 0;
  margin-top: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-menu__item {
  font-size: 26px;
  padding-bottom: 15px;
}

.mobile-menu__link {
  text-decoration: none;
  color: #fff;
}

.mobile-menu__checkbox {
  display: none;
}

.mobile-menu__checkbox:checked ~ .mobile-menu__nav {
  opacity: 1;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.mobile-menu__checkbox:checked ~ .mobile-menu__container {
  height: 100%;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon {
  background: transparent;
}

.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before, .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
  top: 0;
}

.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.5em;
  margin-top: 0.5%;
  margin-right: 3%;
}

@media (max-width: 768px) {
  .social {
    display: none;
  }
}

.social a {
  color: #ffff;
  padding-right: 30%;
}

.social a:hover {
  color: #919191;
}

.social a i.fa-instagram {
  margin-left: 10%;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .principal h2 {
  font-size: 3.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  margin-top: 2%;
}

@media (max-width: 770px) {
  main .principal h2 {
    font-size: 2.8em;
  }
}

@media (max-width: 580px) {
  main .principal h2 {
    font-size: 2.5em;
  }
}

main .principal img.backgroundCover {
  height: 570px;
  margin-top: -7%;
  border-bottom: 3.5px solid white;
  border-radius: 3px;
}

@media (max-width: 789px) {
  main .principal img.backgroundCover {
    display: none;
  }
}

main .principal img.backgroundCoverHidden {
  display: none;
}

@media (max-width: 789px) {
  main .principal img.backgroundCoverHidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 350px;
    width: 450px;
    margin-left: 18%;
  }
}

@media (max-width: 768px) {
  main .principal img.backgroundCoverHidden {
    margin-left: 5%;
  }
}

@media (max-width: 530px) {
  main .principal img.backgroundCoverHidden {
    margin-left: 0%;
  }
}

main .principal section.products {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2%;
}

main .principal section.products img.kitImg {
  height: 300px;
  width: 325px;
}

main .principal section.products .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.3%;
  border: #ffff solid 1.8px;
  border-radius: 8px;
}

main .principal section.products h3 {
  font-size: 2em;
}

main .principal section.products article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .principal section.products button.add {
  height: 30px;
  width: 125px;
  margin: 2%;
  background: none;
  border: #ffff 1px solid;
  border-radius: 4px;
  color: #ffff;
}

main .principal section.products button.add:hover {
  background-color: #ffff;
  color: #da251d;
}

main .principal section.products .price {
  font-size: 1.5em;
}

main .principal section.cartList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
}

main .principal section.cartList h2 {
  margin-top: -20%;
}

main .principal section.cartList .cartWrapper .text {
  display: none;
}

main .principal section.cartList .emptyProductsMessage {
  font-size: 1.5em;
}

main .principal section.cartList .total-items {
  font-size: 1.5em;
}

main .principal section.cartList .cart-item {
  border-bottom: 1px solid #ffff;
}

footer {
  border-top: 10px whitesmoke double;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 285px;
  margin-top: -15%;
}

@media (max-width: 800px) {
  footer {
    margin-top: 60%;
  }
}

@media (max-width: 520px) {
  footer {
    margin-top: 80%;
  }
}

@media (max-width: 420px) {
  footer {
    margin-top: 90%;
  }
}

footer .footerLogo {
  height: 250px;
  margin-top: 8px;
  margin-left: 1%;
  width: 225px;
}

@media (max-width: 768px) {
  footer .footerLogo {
    height: 125px;
  }
}

footer .footerContainer {
  margin-top: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footerContainer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 2%;
  width: 25%;
}

footer .footerContainer form h4 {
  font-size: 2em;
  font-weight: 700;
}

footer .footerContainer form label {
  font-size: 1.3em;
  font-weight: 400;
}

footer .footerContainer form input[type=text] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 25px;
  border: none;
  border-radius: 3px;
  font-size: 0.8em;
}

footer .footerContainer form input[type=email] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 25px;
  border: none;
  border-radius: 3px;
  font-size: 0.8em;
}

footer .footerContainer form label.checkbox {
  margin-left: 0%;
  font-size: 1.2em;
}

footer .footerContainer form textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 3px;
  border: none;
  font-size: 0.8em;
}

footer .footerContainer form label.message {
  width: 200px;
}

footer .footerContainer form button {
  margin-top: 1%;
  margin-left: -0.5%;
  background: none;
  width: 210px;
  padding: 1% 3%;
  color: #ffff;
  cursor: pointer;
  border-radius: 8px;
  border: #ffff 1px solid;
  font-weight: 700;
}

footer .footerContainer form button:hover {
  background-color: #ffff;
  color: #da251d;
}

footer .footerContainer .suscribeSocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 3em;
  margin-left: 15%;
  margin-top: 10%;
}

footer .footerContainer .suscribeSocial .socialLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .footerContainer .suscribeSocial .socialLinks a {
  padding: 2%;
}

footer .footerContainer .suscribeSocial h4.redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1em;
}

footer .footerContainer .suscribeSocial h3 {
  margin: 0%;
}
/*# sourceMappingURL=style.css.map */