@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

$red-union: rgba(218, 37, 29, 1);
$dark-red-union: rgba(201,0,0,1);
$bordo-union: #aa0000;
$blue-union: #02437c;
$grey-union: rgb(145, 145, 145);
$white-union: #ffff;

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Oswald', sans-serif;
    background-color: $bordo-union;
    color: $white-union;
}

a{
    color: white;
    text-decoration: none;
}

header{
    display: flex;
    height: 100px;
    width: 100%;
    @media(max-width:1024px){
        display: flex;
        justify-content: space-between;
    }
    h2{
        margin-top: 2%;
        font-size: 2.6em;
        font-weight: bold;
        opacity: 95%;
    }
    nav{
        display: flex;
        // width: 100%;
        z-index: 9999;
        justify-content: space-between;
        @media(max-width:1024px){
            display: none;
        }
        ul{
            display: flex;
            flex-direction: row;
            margin-top: -2%;
            li{
                padding: 46px;
                list-style: none;
                font-size: 2em;
                &:hover{
                    color: $grey-union;
                    transition: 1s all;
                }
                .cart{
                    #totalItems{
                        font-size: 0.5em;
                        display: flex;
                        margin-top: -65%;
                        margin-left: -8%;
                    }
                }
            }
        }
    }
}

$primary-color: #27ae60;
$space-m: 16px;

.mobile-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 0 $space-m;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 9999999;
  display: none;
  @media(max-width:1024px){
    display: flex;
    margin-top: 4%;
}
  
  &__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 30px;
    cursor: pointer;
    transition: .4s;
    z-index: 99999;
  }
  
  &__icon {
    display: block;
    position: relative;
    background: rgba(255,255,255,1);
    width: 90%;
    height: 4px;
    transition: .4s;

    &::after,
    &::before {
        content: "";
        display: block;
        position: absolute;
        background: rgba(255,255,255,1);
        width: 100%;
        height: 4px;
        transition: .4s;
    }
    &::after {
      top: 8px;
    }
    &::before {
      top: -8px;
    }
  }

  &__container {
    position: fixed;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0;
    right: 0px;
    z-index: 999;
    height: 0;
    opacity: 1;
    transition: .5s;
    transition-delay: .2s;
    overflow: hidden;
    background-color: $bordo-union;
  }
  
  &__list {
    transition: .5s;
    transition-delay: .5s;
    list-style: none;
    padding-left: 0;
    margin-top: -50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  &__item {
    font-size: 26px;
    padding-bottom: 15px;
  }

  &__link {
    text-decoration: none;
    color: #fff;
  }
 
  &__checkbox {
      display: none;

      &:checked ~ {
          .mobile-menu {

              &__nav {
                opacity: 1;
                transition-delay: 0s;
              }

              &__container {
                height: 100%;
                transition-delay: 0s;
              }

              &__btn {
                .mobile-menu__icon {
                    background: transparent;

                    &::before,
                    &::after {
                        top: 0;
                    }
  
                    &::after {
                      transform: rotate(-45deg);
                      -webkit-transform: rotate(-45deg);
                    }
  
                    &::before {
                      transform: rotate(45deg);
                      -webkit-transform: rotate(45deg);
                    }
                }
              }
          }
      }
    }
}

.social{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.5em;
    margin-top: 0.5%;
    margin-right: 3%;
    @media(max-width:768px){
        display: none;
    }
    a{
        color: $white-union;
        padding-right: 30%;
        &:hover{
            color: $grey-union;
        }
        i.fa-instagram{
            margin-left: 10%;
        }
    }
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
    .principal{
        display: flex;
        justify-content: center;
        flex-direction: column;
        h2{
            font-size: 3.8em;
            display: flex;
            justify-content: center;
            font-weight: bold;
            margin-top: 2%;
            @media(max-width:770px) {
                font-size: 2.8em;
            }
            @media(max-width:580px) {
                font-size: 2.5em;
            }
        }
        img.backgroundCover{
            height: 570px;
            margin-top: -7%;
            border-bottom: 3.5px solid white;
            border-radius: 3px;
            @media(max-width:789px){
                display: none;
            }
        }
        img.backgroundCoverHidden{
            display: none;
            @media(max-width:789px){
                display: flex;
                // justify-content: center;
                // align-content: center;
                height: 350px;
                width: 450px;
                margin-left: 18%;
            }
            @media(max-width:768px){
                margin-left: 5%;
            }
            @media(max-width:530px){
                margin-left: 0%;
            }
        }
        section.products{
            img.kitImg{
                height: 300px;
                width: 325px;
            }
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 2%;
            .product{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                margin: 0.3%;
                border: $white-union solid 1.8px;
                border-radius: 8px;
            }
            h3{
                font-size: 2em;
            }
            article{
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
            }
            button.add{
                height: 30px;
                width: 125px;
                margin: 2%;
                background: none;
                border: $white-union 1px solid;
                border-radius: 4px;
                color: $white-union;
                &:hover{
                    background-color: $white-union;
                    color: $red-union;
                }
            }
            .price{
                font-size: 1.5em;
            }
        }
        section.cartList{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 500px;
            h2{
                margin-top: -20%;
            }
            .cartWrapper{
                .text{
                    display: none;
                }
            }
            .emptyProductsMessage{
                font-size: 1.5em;
            }
            .total-items{
                font-size: 1.5em;
            }
            .cart-item{
                border-bottom: 1px solid $white-union;
            }
        }  
    }
}

footer{
    border-top: 10px whitesmoke double;
    display: flex;
    height: 285px;
    margin-top: -15%;
    @media(max-width:800px){
        margin-top: 60%;
    }
    @media(max-width:520px){
        margin-top: 80%;
    }
    @media(max-width:420px){
        margin-top: 90%;
    }
    .footerLogo{
        height: 250px;
        margin-top: 8px;
        margin-left: 1%;
        width: 225px;
        @media(max-width:768px){
            height: 125px;
        }
    }
    .footerContainer{
        margin-top: 10px;
        width: 100%;
        display: flex;
        form{
            display: flex;
            flex-direction: column;
            margin-left: 2%;
            width: 25%;
            h4{
                font-size: 2em;
                font-weight: 700;
            }
            label{
                font-size: 1.3em;
                font-weight: 400;
            }
            input[type=text]{
                display: flex;
                width: 200px;
                height: 25px;
                border: none;
                border-radius: 3px;
                font-size: 0.8em;
            }
            input[type=email]{
                display: flex;
                width: 200px;
                height: 25px;
                border: none;
                border-radius: 3px;
                font-size: 0.8em;
            }
            label.checkbox{
                margin-left: 0%;
                font-size: 1.2em;
            }
            textarea{
                display: flex;
                border-radius: 3px;
                border: none;
                font-size: 0.8em;
            }
            label.message{
                width: 200px;
            }
            button{
                margin-top: 1%;
                margin-left: -0.5%;
                background: none;
                width: 210px;
                padding: 1% 3%;
                color: $white-union;
                cursor: pointer;
                border-radius: 8px;
                border: $white-union 1px solid;
                font-weight: 700;
                &:hover{
                    background-color: $white-union;
                    color: $red-union;
                }
            }
        }
        .suscribeSocial{
            display: flex;
            justify-content: center;
            flex-direction: column;
            font-size: 3em;
            margin-left: 15%;
            margin-top: 10%;
            .socialLinks{
                display: flex;
                justify-content: center;
                flex-direction: row;
                a{
                    padding: 2%;
                }
            }
            h4.redes{
                display: flex;
                justify-content: center;
                font-size: 1em;
            }
            h3{
                margin: 0%;
            }
        }
    }
}
